<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../assests/css/sidemenu.css">
    <!-- Link y enlace estilos e iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>configuraciones</title>
</head>

<body>
    <nav>
        <div class="navbar">
            <div class="logo"><a href="#">Greencase</a></div>
            <ul class="menu">
                <!--<li><a href="#Home">Home</a></li>-->
                <!--<li><a href="#About">About</a></li>-->
                <!--<li><a href="#Category">Category</a></li>-->
                <li><a href="#Contact">Contacto</a></li>
                <li><a href="#">Salir</a></li>
            </ul>
        </div>
    </nav>
    <div class="button">
        <a href="#Home"><i class="fas fa-arrow-up"></i></a>
    </div>

    <!--aca comensaria el carusel-->
    <div class="container">
        <input type="radio" name="dot" id="one">
        <input type="radio" name="dot" id="two">
        <div class="main-card">
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../assests/iconos/iconos_grandes/icons8-automatización-de-termómetro-40 (1).png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajustes</div>
                            <div class="des">Sensor temperatura</div>
                        </div>
                        <!--Se agrega boton ajustes-->
                        <div class="wrapper">
                            <span class="minus">-</span>
                            <span class="num">01</span>
                            <span class="plus">+</span>
                        </div>
                        <!--Finaliza boton ajustes-->
                        <!--<div class="media-icons">
                            <a href="#"><i class=""></i></a>
                            <a href="#"><i class=""></i></a>
                            <a href="#"><i class=""></i></a>
                            <a href="#"><i class=""></i></a>
                        </div>-->
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../assests/iconos/iconos_grandes/icons8-higrómetro-48.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajuste</div>
                            <div class="des">Sensor de humedad</div>
                        </div>
                        <!--Se agrega boton ajustes-->
                        <div class="wrapper">
                            <span class="minus">-</span>
                            <span class="num">01</span>
                            <span class="plus">+</span>
                        </div>
                        <!--Finaliza boton ajustes-->
                        <!--A continuacion se comenta el codigo de los iconos de abajo para poner luego 
                        los botones de ser necesario-->
                        <!--<div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>-->
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../assests/iconos/iconos_grandes/icons8-suelo-100.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">AJUSTES</div>
                            <div class="des">Sensor humedad suelo</div>
                        </div>
                        <!--<div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../assests/iconos/iconos_grandes/icons8-casa-150.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">AJUSTES</div>
                            <div class="des">Sensores hogar</div>
                        </div>
                        <div class="media-icons">
                            <a href="#"><i class=""><img src="../assests/iconos/iconosmenudesplegable/icons8-automatización-de-termómetro-30.png"></i></a>
                            <a href="#"><i class=""><img src="../assests/iconos/iconosmenudesplegable/icons8-automatización-de-luz-30.png" alt=""></i></a>
                            <a href="#"><i class=""><img src="../assests/iconos/iconosmenudesplegable/icons8-aire-acondicionado-30.png" alt=""></i></a>
                            <a href="#"><i class=""><img src="../assests/iconos/iconosmenudesplegable/icons8-higrómetro-30.png" alt=""></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../assests/iconos/iconos_grandes/icons8-invernadero.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajustes</div>
                            <div class="des">Sensores invernadero</div>
                        </div>
                        <div class="media-icons">
                            <a href="#"><i class=""></i></a>
                            <a href="#"><i class=""></i></a>
                            <a href="#"><i class=""></i></a>
                            <a href="#"><i class=""></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../assests/iconos/iconos_grandes/icons8-puerta-de-garaje-100.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">AJUSTES</div>
                            <div class="des">Garage</div>
                        </div>
                        <!--Si se decea colocar imagen dentro de los circulos no den de ser mayor a 30 y se debe 
                        colocar de la siguiente manera <a href="#"><i class="">
                            <img src="../assests/iconos/iconosmenudesplegable/icons8-automatización-de-termómetro-30.png"></i></a>-->
                        <div class="media-icons">
                            <a href="#"><i class=""></i></a>
                            <a href="#"><i class=""></i></a>
                            <a href="#"><i class=""></i></a>
                            <a href="#"><i class=""></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button">
            <label for="one" class=" active one"></label>
            <label for="two" class="two"></label>
        </div>
    </div>
    <!--se agrega el script del boton ajustes-->
    <!--Se agregaron 2 botones pero solo funciona 1 ver como arreglarlo-->
    <script>
        const plus = document.querySelector(".plus"),
            minus = document.querySelector(".minus"),
            num = document.querySelector(".num");
        let a = 1;
        plus.addEventListener("click", () => {
            a++;
            a = (a < 10) ? "0" + a : a;
            num.innerText = a;
        });

        minus.addEventListener("click", () => {
            if (a > 1) {
                a--;
                a = (a < 10) ? "0" + a : a;
                num.innerText = a;
            }
        });
    </script>

</body>

</html>